p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 24px;
  height: 3000px;
  background-color: rgb(248, 248, 248);
}