.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style:solid ;
  border-bottom-color:rgba(200, 200, 200, 0.5); ;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;
  

}

.search-bar {
  height: 36px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 2px;
  box-shadow: inset 1px 2px 2px rgba(0 , 0, 0, 0.2);
  outline: none;
}

.search-bar:focus{
  border-color: rgb(0, 50, 255);
}


.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu, .youtube-logo, .search-button, .voice-search-button,
.upload, .apps, .notification-icon-container, .my-channel{
  cursor: pointer;
}

.hamburger-menu {
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.youtube-logo {
  height: 25px;
}

.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 1000px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(243, 243, 243);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: -2px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 0;
  background-color: rgb(243, 243, 243);
  border-radius: 20x;
  margin-left: 10px;
}

.voice-search-icon{
  margin-top: 4px;
  height: 25px;
}


.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload{
  height: 25px;
}

.apps{
  height: 25px;
}

.notification-icon-container{
position: relative;

}

.notification-counter{
position: absolute;
background-color: red;
border-width:2px;
border-style: solid;
border-color: white;
color: white;
font-family: Roboto, Arial;
font-size: 10px;
width: 12px;
height: 12px;
border-radius: 10px;
top: 0px;
right: -2px;
text-align: center;
justify-content: center;
display: flex;

}
.notification-icon{
  height: 25px;
}

.my-channel{
  height: 40px;
  border-radius: 20px;
}