.side-bar {
  background-color: white;
  position: fixed;
  width: 72px;
  left: 0;
  top: 55px;
  bottom: 0px;
  max-height: 500px;
  padding-top: 5px;
  z-index: 200;
}

.sidebar-link {
  height: 76px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  width: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;

}

.sidebar-link:hover {
  background-color: lightgray;
}