.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 4 0px;
  
}

.video-preview{
  margin-bottom: 40px;
}

.thumbnail {
  margin-bottom: 10px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  border-radius: 2px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;

  padding: 4px;

}

.video-bottom {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 40px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.thumbnail-picture {
  width: 100%;
}